.header {
  min-height: 1000px;
  background: linear-gradient(
      to bottom right,
      rgb(42, 36, 56, 0.9),
      rgb(42, 36, 56, 0.9)
    ),
    url("../images/header-background.jpg") center center no-repeat;
  background-size: cover;
}

.header .slide {
  width: 70%;
  margin: 0 auto;
}

.navbar {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.invitation-bg {
  background: linear-gradient(
      to bottom right,
      rgb(42, 36, 56, 0.9),
      rgb(42, 36, 56, 0.9)
    ),
    url("../images/invitation-background.jpg") center center no-repeat;
  background-size: cover;
}

@media (max-width: 992px) {
  .navbar {
    background-color: var(--bs-dark);
  }
  #navbarNavDropdown {
    margin-top: 2.4rem;
  }

  .header {
    height: 800px !important;
    min-height: 800px !important;
  }

  .header .slide {
    width: 90%;
    margin: 0 auto;
  }

  .header .text-container {
    width: 100% !important;
    font-size: 16px !important;
  }

  .register {
    padding: 40px 0 !important;
  }

  .register h2 {
    text-align: center;
  }

  .summary {
    margin-top: 0 !important;
    width: 90% !important;
  }
}
