.header {
  min-height: 1000px;
  background: linear-gradient(
      to bottom right,
      rgb(42, 36, 56, 0.9),
      rgb(42, 36, 56, 0.9)
    ),
    url("../images/header-background.jpg") center center no-repeat;
  background-size: cover;
}

.header .slide {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

@media (max-width: 992px) {
  .navbar {
    background-color: var(--bs-dark);
  }
  #navbarNavDropdown {
    margin-top: 2.4rem;
  }
}
