body {
  font-family: "Poppins";
}

@media (min-width: 900px) {
  .container {
    width: 900px;
  }
}

.rounded_all {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.rounded_start {
  display: inline-block;
  border-top-left-radius: 20rem !important;
  border-bottom-left-radius: 20rem !important;
}
.rounded_end {
  border-top-right-radius: 40rem !important;
  border-bottom-right-radius: 40rem !important;
}
